PORT=5001
MONGO_URI=mongodb+srv://username:passward@cluster0.x9mv4pb.mongodb.net/scriptbridge
JWT_SECRET=your_jwt_secret_key_here_change_in_production
STRIPE_SECRET=your_stripe_secret_key_here
CLIENT_URL=http://localhost:5173
RAZORPAY_KEY_ID=rzp_test_SKejdK75GlCwUx
RAZORPAY_KEY_SECRET=m3d45xTiyfezBvKTYI41L4j8
GOOGLE_AI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_USER=info.ckript@gmail.com
EMAIL_PASSWORD=qaro ondp zqjq hejm